:root {
  --primary-color: #b5179e;
  --secondary-color: #f72585;
  --white: #ffffff;
  --black: #000000;
  --box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  --body-background: #f7f7f7;
}

/* ========================= */
/* ========================= */
/*        Typography         */
/* ========================= */
/* ========================= */

@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"),
    url("fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"),
    url("fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-medium-webfont.woff2") format("woff2"),
    url("fonts/montserrat/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"),
    url("fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ========================= */
/* ========================= */
/*       General Styles      */
/* ========================= */
/* ========================= */

html {
  font-size: 62.5%;
}

body {
  font-family: montserrat;
  line-height: 1.5;
  font-size: 1.4rem;
  background-color: var(--body-background);
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

p {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
    margin-bottom: 3.5rem;
  }

  h2 {
    font-size: 5.5rem;
    margin-bottom: 6rem;
  }
}

/* ========================= */
/* ========================= */
/*       Links               */
/* ========================= */
/* ========================= */

a {
  text-decoration: none;
  font-weight: 400;
}

.link-underline {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  padding-bottom: 3px;
  font-weight: 500;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .link-underline {
    font-size: 2.4rem;
  }
}




/* ========================= */
/* ========================= */
/*           Buttons         */
/* ========================= */
/* ========================= */

.btn {
  font-weight: 600;
  font-size: 1.4rem;
  border: none;
  border-radius: 27px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  transition: all .4s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-normal {
  padding: 14px 40px;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 14px;
}


.btn-transparent {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-white {
  background-color: var(--white);
  color: var(--primary-color);
}

.btn:hover {
  box-shadow: var(--box-shadow);
}



@media screen and (min-width: 1024px) {
  .btn-normal {
    font-size: 2.6rem;
  }
}


/* ========================= */
/* ========================= */
/*           List         */
/* ========================= */
/* ========================= */

.list {
  list-style: none;
  padding-left: 0;
}

.list-inline .list__item {
  display: inline-block;
  margin-right: 8rem;
}

.list-block .list__item {
 margin-bottom: 1rem;
}


@media screen and (min-width: 1024px) {
  .list-block .list__item {
   margin-bottom: 1.6rem;
  }
}
