<div style="width: 400px; margin: 2rem;">
    <div class="package__item">
      <span class="package__label">FROM</span>
      <span class="package__price">90$</span>
      <span class="package__type">Basic</span>
      <p class="package__desc">Facere labore delectus iure veritatis consequatur adipisci velit harum qui, tempora iusto!</p>
      <a href="" class="link-underline package__link">READ MORE</a>
    </div>
  </div>


  <div style="width: 400px; margin: 2rem;">
    <div class="package__item package--active">
      <span class="package__label">FROM</span>
      <span class="package__price">90$</span>
      <span class="package__type">Basic</span>
      <p class="package__desc">Facere labore delectus iure veritatis consequatur adipisci velit harum qui, tempora iusto!</p>
      <a href="" class="link-underline package__link">READ MORE</a>
    </div>